<?xml version="1.0"?>
<robot name="sp1_robot">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="353.00"/> <!-- Mass in kilograms -->
      <inertia ixx="2.61580915" ixy="-0.71203197" ixz="0.1928733"
              iyy="1.93505054" iyz="0.10294264"
              izz="2.27268579"/> <!-- Moments of inertia in kg*m^2 -->
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://src/virtual_shake_robot_pybullet/models/SP1_PBRmodel/final_sp1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://src/virtual_shake_robot_pybullet/models/SP1_PBRmodel/final_sp1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
