<?xml version="1.0"?>
<robot name="sp1_robot">
  <link name="base_link">

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="353.00"/>
      <inertia
        ixx="11.032465" ixy="0.0" ixz="0.0"
        iyy="17.604068" iyz="0.0"
        izz="23.554887"/>
    </inertial>

    <visual>
      <!-- remove any baked RPY here -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://virtual_shake_robot_pybullet/models/SP1_PBRmodel/final_sp1_pca.obj"
          scale="1 1 1"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://virtual_shake_robot_pybullet/models/SP1_PBRmodel/final_sp1_pca.obj"
          scale="1 1 1"/>
      </geometry>
    </collision>

  </link>
</robot>
